<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>WCM777临时管理工具</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="scripts/extjs/resources/css/ext-all.css"/>
	<!-- END CSS Files -->
	
	<!-- SCRIPT Files -->
    <script type="text/javascript" src="scripts/extjs/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="scripts/extjs/ext-all.js"></script>
    <!-- END SCRIPT Files -->

	<script type="text/javascript">   
	/* <![CDATA[ */
	Ext.onReady(function() {
		Ext.QuickTips.init();
		
		var licenseContent = Ext.get('licenseContent').dom.innerHTML;
		
		var frmManage = new Ext.form.FormPanel({
	        baseCls: 'x-plain',
	        labelWidth: 55,
	        url:'save-form.php',
	        defaultType: 'textfield',

	        items: [{
	            fieldLabel: '账号信息',
	            name: 'acc',
	            anchor:'100%',
	            allowBlank: false,  
                blankText:'必须输入账号'
	        },{
	            fieldLabel: '增加数值',
	            name: 'num',
	            anchor: '100%'
	        }, {
	            xtype: 'textarea',
	            hideLabel: true,
	            name: 'msg',
	            id: 'msg',
	            readOnly:true,
	            anchor: '100% -53'  
	        }]
	    });

	    var wndManage = new Ext.Window({
	        title: '网站管理工具',
	        width: 800,
	        height:400,
	        minWidth: 300,
	        minHeight: 200,
	        closable:false,
	        layout: 'fit',
	        plain:true,
	        resizable:false,
	        bodyStyle:'padding:5px;',
	        buttonAlign:'center',
	        items: frmManage,

	        buttons: [{
	            text: '查询代码',
	            handler: function(elem, evt){
				    frmManage.getForm().submit({
					    waitMsg: '正在执行，请稍后...',
					    url:'../Handler/Manage.ashx?action=query_id',
					    success: function(form, action) {
				           Ext.get('msg').dom.innerHTML = action.result.errorMsg;
				        },
				        failure: function(form, action) {
				            switch (action.failureType) {
				                case Ext.form.Action.CLIENT_INVALID:
				                    Ext.Msg.alert("操作失败", "请填入正确的参数!");
				                    break;
				                case Ext.form.Action.CONNECT_FAILURE:
				                    Ext.Msg.alert("操作结果未知", "通信错误,无法获取操作结果!");
				                    break;
				                default:
				                   Ext.Msg.alert("操作失败", unescape(action.result.errorMsg));
				           }
				        }
				    });
			    }
	        },{
	            text: '封停账号',
	            handler: function(elem, evt){
				    frmManage.getForm().submit({
					    waitMsg: '正在执行，请稍后...',
					    url:'../Handler/Manage.ashx?action=lock_id',
					    success: function(form, action) {
				           Ext.get('msg').dom.innerHTML = action.result.errorMsg;
				        },
				        failure: function(form, action) {
				            switch (action.failureType) {
				                case Ext.form.Action.CLIENT_INVALID:
				                    Ext.Msg.alert("操作失败", "请填入正确的参数!");
				                    break;
				                case Ext.form.Action.CONNECT_FAILURE:
				                    Ext.Msg.alert("操作结果未知", "通信错误,无法获取操作结果!");
				                    break;
				                default:
				                   Ext.Msg.alert("操作失败", unescape(action.result.errorMsg));
				           }
				        }
				    });
			    }
	        },{
	            text: '解封账号',
	            handler: function(elem, evt){
				    frmManage.getForm().submit({
					    waitMsg: '正在执行，请稍后...',
					    url:'../Handler/Manage.ashx?action=unlock_id',
					    success: function(form, action) {
				           Ext.get('msg').dom.innerHTML = action.result.errorMsg;
				        },
				        failure: function(form, action) {
				            switch (action.failureType) {
				                case Ext.form.Action.CLIENT_INVALID:
				                    Ext.Msg.alert("操作失败", "请填入正确的参数!");
				                    break;
				                case Ext.form.Action.CONNECT_FAILURE:
				                    Ext.Msg.alert("操作结果未知", "通信错误,无法获取操作结果!");
				                    break;
				                default:
				                   Ext.Msg.alert("操作失败", unescape(action.result.errorMsg));
				           }
				        }
				    });
			    }
	        },{
	            text: '添加数字',
	            handler: function(elem, evt){
				    frmManage.getForm().submit({
					    waitMsg: '正在执行，请稍后...',
					    url:'../Handler/Manage.ashx?action=add_point',
					    success: function(form, action) {
				           Ext.get('msg').dom.innerHTML = action.result.errorMsg;
				        },
				        failure: function(form, action) {
				            switch (action.failureType) {
				                case Ext.form.Action.CLIENT_INVALID:
				                    Ext.Msg.alert("操作失败", "请填入正确的参数!");
				                    break;
				                case Ext.form.Action.CONNECT_FAILURE:
				                    Ext.Msg.alert("操作结果未知", "通信错误,无法获取操作结果!");
				                    break;
				                default:
				                   Ext.Msg.alert("操作失败", unescape(action.result.errorMsg));
				           }
				        }
				    });
			    }
	        }]
	    });
    
		var frm = new Ext.form.FormPanel({
        baseCls:'x-plain',
        labelWidth:35,
        defaultType:'textfield',
        url:'../Handler/Login.ashx',
        waitMsgTarget: true,
        method:'POST',

        items: [{
            fieldLabel: '账号',
            name: 'id',
            emptyText: '请填入你的账号',
            allowBlank: false,
            blankText: '必须填入账号',
            anchor:'100%'  
        },{
            fieldLabel: '密码',
            name: 'pwd',
            emptyText: '请填入你的密码',
            inputType: 'password',
            allowBlank: false,
            blankText: '必须填入密码',
            anchor: '100%'  
        },{
            xtype:'textarea',
            hideLabel:true,
            name:'msg',
            readOnly:true,
            value:licenseContent,
            style:'color:red',
            anchor:'100% -77'  
        },{
        	xtype:'checkbox',
        	name:'lic',
        	boxLabel:'我已经阅读并同意以上协议和声明',
        	hideLabel:true
        }]
    });

    var wnd = new Ext.Window({
        title: '网站管理工具',
        width: 500,
        height:300,
        minWidth: 300,
        minHeight: 200,
        layout: 'fit',
        plain:true,
        resizable:false,
        closable:false,
        bodyStyle:'padding:5px;',
        buttonAlign:'center',
        items: frm,

        buttons: [{
            text: '登录系统并使用系统',
            handler: function(elem, evt){
				frm.getForm().submit({
					waitMsg: '正在登录,请您稍后...',
					success: function(form, action) {
				       wnd.hide();
				       wndManage.show();  
				    },
				    failure: function(form, action) {
				        switch (action.failureType) {
				            case Ext.form.Action.CLIENT_INVALID:
				                Ext.Msg.alert("登录失败", "请填写正确的账号和密码!");
				                break;
				            case Ext.form.Action.CONNECT_FAILURE:
				                Ext.Msg.alert("登录失败", "通信错误,无法获取登录结果!");
				                break;
				            default:
				               Ext.Msg.alert("登录失败", unescape(action.result.errorMsg));
				       }
				    }
				});
			}
        }]
    });

    wnd.show();
	});
	/* ]]> */   
	</script>
</head>
<body>
	<div style="display:none;" id="licenseContent">
    本软件为应甲方：”大德“(QQ:861844803)要求制作，因甲方忘记密码且无法找回账号无法有效行使自身的管理权限，特委托我方制作此软件，用以临时管理自有网站。
    本软件只负责提供甲方所需要之功能，其具体使用方式不得用于违法中国法律，如若甲方提供虚假信息，所造成的一切损失由甲方负责，本软件制作人不承担任何由此引发的问题。
    
    自甲方使用软件起，视甲方同意本协议。
	</div>
</body>
</html>

